div.pay {
    border-radius: 10px;
    width: 830px;
    height: 390px;
    overflow: hidden;
    padding-left: 8%;
    /*bottom: 0;
    position: absolute;*/
}

div.pay-back {
  /*background: radial-gradient(ellipse at top, rgba(58, 144, 219, 1), transparent),
              radial-gradient(ellipse at bottom, rgba(78, 169, 52, 1), transparent);*/
  background: radial-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3), rgba(255,255,255,0.3));
  /*background: url("/images/wood-pay.png");*/
  background-color: rgba(255, 255, 255, 0.0);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding-top: -5%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-left: 0%;
  background-size:100%;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

